#!/bin/bash
INTERFACE="$3"
MAC="$8"
brctl=/sbin/brctl

/bin/ip link set dev $INTERFACE up mtu 1312
#echo "enabled" > /sys/devices/virtual/net/$INTERFACE/batman_adv/no_rebroadcast
$brctl addif br-nodes $INTERFACE
