# Config file for collectd(1).
#
# Some plugins need additional configuration and are disabled by default.
# Please read collectd.conf(5) for details.
#
# You should also read /usr/share/doc/collectd-core/README.Debian.plugins
# before enabling any more plugins.

## General ##

Hostname "{{ sn_hostname }}"
FQDNLookup true
BaseDir "/var/lib/collectd"
PluginDir "/usr/lib/collectd"
Interval 60
Timeout 2
ReadThreads 5

## Load Plugins ##
LoadPlugin write_graphite
LoadPlugin syslog
LoadPlugin cpu
LoadPlugin load
LoadPlugin memory
LoadPlugin processes
LoadPlugin rrdtool
LoadPlugin users
LoadPlugin snmp


<Plugin write_graphite>
        <Carbon>
		Host "10.188.1.27"
                Port "2003"
                Prefix "collectd.gateways."
                StoreRates true
                AlwaysAppendDS false
                EscapeCharacter "_"
        </Carbon>
</Plugin>

<Plugin snmp>
        <Data "std_traffic">
                Type "if_octets"
                Table true
                Instance "IF-MIB::ifDescr"
                Values "IF-MIB::ifInOctets" "IF-MIB::ifOutOctets"
        </Data>
        <Host "{{ sn_hostname }}">
                Address "127.0.0.1"
                Version 1
                Community "public"
                Collect "std_traffic"
                Interval 60
        </Host>
</Plugin>

<Plugin rrdtool>
        DataDir "/var/lib/collectd/rrd"
</Plugin>

<Plugin syslog>
        LogLevel info
</Plugin>

###########################################################
Include "/etc/collectd/filters.conf"
Include "/etc/collectd/thresholds.conf"
