# Config file for collectd(1).
#
# Some plugins need additional configuration and are disabled by default.
# Please read collectd.conf(5) for details.
#
# You should also read /usr/share/doc/collectd-core/README.Debian.plugins
# before enabling any more plugins.

## General ##

Hostname "{{ sn_hostname }}"
FQDNLookup true
BaseDir "/var/lib/collectd"
PluginDir "/usr/lib/collectd"
Interval 60
Timeout 2
ReadThreads 5

## Load Plugins ##
LoadPlugin write_graphite
LoadPlugin syslog
LoadPlugin cpu
LoadPlugin load
LoadPlugin memory
LoadPlugin processes
LoadPlugin users
LoadPlugin uptime
LoadPlugin interface

<Plugin write_graphite>
        <Carbon>
		Host "10.188.1.27"
                Port "2003"
                Prefix "collectd.gateways."
                StoreRates true
                AlwaysAppendDS false
                EscapeCharacter "_"
        </Carbon>
</Plugin>

<Plugin "interface">
  Interface "eth0"
  Interface "bat0"
  IgnoreSelected false
</Plugin>

<Plugin syslog>
        LogLevel info
</Plugin>

###########################################################
Include "/etc/collectd/filters.conf"
Include "/etc/collectd/thresholds.conf"
