# Enable RFC 5007 support (same than for DHCPv4)
allow leasequery;

authoritative;

default-lease-time 300;
max-lease-time 600;

option dhcp6.name-servers {{ sn_mesh_IPv6 }};

option dhcp6.domain-search "ff";

subnet6 {{ sn_mesh_IPv6_net }} {
}

