interface bat0 {
        AdvSendAdvert on;
        IgnoreIfMissing on;
        MaxRtrAdvInterval 200;
        RDNSS {{ sn_mesh_IPv6 }} {};
	prefix {{ sn_mesh_IPv6_net }} {
                AdvOnLink on;
                AdvAutonomous on;
                AdvRouterAddr on;
        };
};

